<h1 id="tableLabel">Questions</h1>

<ul>
  <li>
    <em
      >¿Defina porque utilizó (el lenguaje de programación, plataforma y
      Framework) o el equipo de trabajo, según aplique?</em
    >
    <span style="text-align: justify;">
      Se utilizo el Framework de .Net Core 3.1 para el desarrollo de la
      aplicación, ya que además de generar agilidad, aplica el lenguaje de
      programación C#, en el cual existe un mayor conocimiento, además de
      permitir la fácil integración con el Framework Angular para el desarrollo
      de aplicaciones tipo SPA (Single Page Application).
    </span>
  </li>
  <li>
    <em>
      ¿Como priorizo los desarrollos / equipo?
    </em>
    <span style="text-align: justify;">
      Se realizo primero todo lo referente a la maquetación de como se pensaba
       mostrar los diferentes componentes dentro de la aplicación al tener la 
       visión general de lo que se piensa realizar, se seleccionó que iría primero o 
       que base se necesitaba para llegar al objetivo y nivel a nivel irse desarrollando, 
       por último, se aplicaron los pluses o aquellos detalles que podrían facilitar tanto 
       la ejecución como su aprobación.
    </span>
  </li>
  <li>
    <em>
      ¿Se sintió cómodo con el lenguaje / el equipo seleccionado? ¿Por qué?
    </em>
    <span style="text-align: justify;">
      Se facilito el desarrollo, por que se contaba con experiencia en las herramientas utilizadas.
    </span>
  </li>
  <li>
    <em>
      ¿Cree que la solución propuesta resuelve el problema del Banco del Futuro?
    </em>
    <span style="text-align: justify;">
      Se soluciona, por que en la arquitectura permite que sea escalable además que permite la fácil 
      integración de otros componentes como a otras herramientas o lenguajes y esto permite que la 
      agilidad en los procesos se transmita hacia las demás áreas.
    </span>
  </li>
  <li>
    <em>
      ¿Describa que le hizo falta conocer para el planteamiento de la solución?
    </em>
    <span>
      Lo que se pretendía medir con los diferentes componentes a desarrollar, o que se pretendía obtener en el desarrollo de la solución. (bastante ambigua)
    </span>
  </li>
</ul>
