<h1 id="tableLabel">Risk Matrix</h1>

<p *ngIf="!elementsrisks"><em>Loading...</em></p>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="elementsrisks"
>
  <thead>
    <tr>
      <th>Muy probable</th>
      <th>probable</th>
      <th>poco probable</th>
      <th>casi improbable</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elementRisk of elementsrisks">
      <td [ngClass]="elementRisk[0].color">{{ elementRisk[0].statement }}</td>
      <td [ngClass]="elementRisk[1].color">{{ elementRisk[1].statement }}</td>
      <td [ngClass]="elementRisk[2].color">{{ elementRisk[2].statement }}</td>
      <td [ngClass]="elementRisk[3].color">{{ elementRisk[3].statement }}</td>
    </tr>
  </tbody>
</table>
