<h1>Drivers</h1>

<p style="text-align: center;">
Los drivers de negocio seleccionados son:
</p>
<ul>
    <li>Tiempo considerable para construir nuevos servicios de integración con entidades externas (time to market).</li>
    <li>Alta demanda de integración con sistemas de entidades externas.</li>
    <li>Arquitectura de aplicaciones no especificada bajo una arquitectura empresarial</li>
    <li>Aplicaciones no alineadas con las metodologias de desarrollo</li>
</ul>
