<h1>Diagram</h1>
  <div style="display: block; margin-left: auto; margin-right: auto; width: 50%;"><img src="https://i.imgur.com/t7iOoQS.png" title="source: imgur.com" /></div>  
<p style="text-align: justify;">
  Los diferentes componentes de la infraestructura de <em>Banco futuro</em> son accedidos por un balanceador
  que nos ayuda a enmascarar la IP real donde viene el tráfico de información, además de poder 
  agregar más componentes sobre este mismo balanceador.

  Tenemos un EKS que va a contener los diferentes microservicios que van a sustentar el núcleo del banco.
  Para el alto nivel de concurrencia sobre la base de datos se antepone un componente Kafka para que garanticemos 
  la no perdida de datos en el momento de la escritura, además separamos las lecturas sobre la base de datos por una 
  conexión diferente además de tener un cache para las consultas que requieren de mayor volumen y demanda.

  Por último, tenemos los terceros que puede ser accedidos directamente del EKS esto se realiza así ya que son de uso interno del banco.
</p>
